*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: "Cinzel", "Cinzel Placeholder", serif;
    overflow-x: hidden;
    touch-action: pan-y;
}

.icp-img{
    width: 15%;
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}

.height40{
    height: 40vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.p-header{
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: bold;
}

p{
    font-size: 4rem;
    text-transform: uppercase;
}

.attention-p{
    font-size: 1.8rem;
    color: #BEBEBE;
    text-transform: none;
    margin-bottom: 30px;
}

img{
    width:100%;
}

.approach{
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    font-weight: bold;
}

.description{
    font-size: 1rem;
    font-weight: bold;
}

.description-header{
    font-weight: 100;
}

.red{
    color: #CF6969;
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 30px;
}

.row{
    display: flex;
    margin: 10% auto;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

div img{
    width: 40%;
    border: 1px solid #CF6969;
    border-radius: 16px;
}

.div-offer{
    align-items:flex-start;
    justify-content: center;
}

.img-offer{
    width: 35%;
    margin-right: 150px;
}

p.offer{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 50px;
}

li{
    text-transform: uppercase;
    list-style:square;
    font-size: 1.5rem;
    line-height: 2;
    width: 100%;
}

.wanted-wrapper{
    margin-top: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wanted-div{
    text-align: center;
    margin-bottom: 20px;
}

.wanted-img{
    width: 300px;
    max-width: 100%;
}

.wanted-text{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    width: 300px;
    text-align: center;
}

.links{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.links p , .links a{
    border-radius: 16px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.links p:hover{
    text-decoration: underline;
}

.img-bottom{
    display: block;
    width: 80%;
    margin: 50px auto;
    border-radius: 16px;
}

.trademark{
    text-align: center;
    font-size: 1rem;
    padding-bottom: 30px;
}

@media screen and (max-width: 600px) {
    .icp-img{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .height40{
        height: auto;
        text-align: center;
        width: 90%;
    }

    .p-header{
        margin-top: 50px;
        font-size: 2rem;
    }

    p{
        font-size: 2rem;
    }

    p.description{
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    .red{
        font-size: 2.8rem;
    }

    .attention-p{
        font-size: 1.2rem;
        text-align: center;
        padding-bottom: 30px;
    }

    .approach{
        font-size: 1.5rem;
    }

    .row{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .row img{
        width: 80%;
        margin-top: 20px;
    }

    .img-offer{
        width: 80%;
        margin-right: 0;
        display: block;
        margin: auto;
    }

    p.offer{
        font-size: 2rem;
        text-align: center;
        margin-top: 30px;
    }

    li{
        font-size: 1rem;
        text-align: center;
    }

    .wanted-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .wanted-img{
        width: 70%;
        max-width: 250px;
    }

    .wanted-text{
        width: 70%;
        display: block;
        margin:20px auto;
    }

    .links{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
    }

    .img-bottom{
        width: 90%;
    }
}
